<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReCon Reasoner</title>
    <script>
        function toggleKeyField() {
            const openaiRadio = document.getElementById('explainer_openai');
            const keyDiv = document.getElementById('openai_key_div');
            keyDiv.style.display = openaiRadio.checked ? 'block' : 'none';
        }
    </script>
</head>

<body onload="toggleKeyField()">
<h1>Contrastive Explanations Reasoner</h1>
<form method="POST" enctype="multipart/form-data" action="/run-script">
    <label for="reasoner">Reasoner:</label>
    <select name="reasoner" id="reasoner">
        <option value="ELK">ELK</option>
        <option value="hermit">Hermit</option>
    </select>
    <br>
    <br>

    <label for="owl_file">Upload your owl file:</label>
    <input type="file" name="owl_file" id="owl_file" accept=".owl" required>

    <br>
    <br>

    <label for="query_file">Upload your query file containing fact, foil and query:</label>
    <input type="file" name="query_file" id="query_file" accept=".txt" required>

    <br>
    <br>

    <label>Explainer:</label>

    <input type="radio" name="explainer" id="explainer_openai" value="openai" onclick="toggleKeyField()" checked>
    <label for="explainer_openai">OpenAI</label>
    <input type="radio" name="explainer" id="explainer_llama" value="llama" onclick="toggleKeyField()">
    <label for="explainer_llama">Llama</label>

    <br>
    <br>

    <div id="openai_key_div">
        <label for="openai_key">Enter your OpenAI API Key:</label>
        <input type="text" name="openai_key" id="openai_key" placeholder="sk-....">
        <p><em>Note: The model used will be o3. Your key will not be stored.</em></p>
    </div>

    <button type="submit" name="action" value="generate">Generate Explanation</button>
    <button type="submit" name="action" value="visualize">Visualize</button>
</form>

</body>
</html>